<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Github PR Watcher" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap"', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="m-0 p-0 h-screen bg-slate-50 flex flex-col">
    <main class="px-4 flex-grow overflow-auto">
      <div data-controller="modal form">
        <div class="flex h-full mt-4 border-b">
          <div class="w-96 border-r-2 px-4 pr-8">
            <h2 class="font-['Black_Ops_One'] text-4xl">
              <a href="/">
                PR Watcher
              </a>
            </h2>
            <div class="flex flex-col mt-8 h-full" data-controller="menu">
              <div class="pb-4">
                <div class="bg-slate-900 text-white py-2 text-center cursor-pointer" data-action="click->modal#open click->form#load">
                  Add new group
                </div>
              </div>
            </div>
          </div>

          <div class="ml-8 w-full overflow-auto h-[calc(100vh-64px)]">
            <%= yield %>
          </div>
        </div>

        <%= render "shared/modal" %>
      </div>
    </main>

    <footer class="bg-gray-800 text-white text-center py-4">
      <p>&copy; <%= Time.now.year %> Github PR Watcher. All rights reserved.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
